@font-face {
	font-family: Italianno;
	src: url(../fonts/Italianno/Italianno-Regular.woff2);
	font-display: swap;
}
@font-face {
	font-family: Bebas Neue;
	src: url(../fonts/BebasNeue/BebasNeue-Regular.woff2);
	font-display: swap;
}

@font-face {
	font-family: Inter;
	src: url(../fonts/Inter/Inter_18pt-Regular.woff2);
	font-display: swap;
}
@font-face {
	font-family: Inter bold;
	src: url(../fonts/Inter/Inter_18pt-Bold.woff2);
	font-display: swap;
}

.homeModal, .homeModalOverlay {position: fixed;top: 0;height: 100vh;width: 100%;left: 0;}.homeModal {z-index: 30;justify-content: center;align-items: center;display: flex;}.homeModalOverlay {background-color: rgba(0, 0, 0, 0.3);backdrop-filter: blur(5px);}.homeFormContainer {position: relative;z-index: 30;background-color: #fff;color: #000;border-radius: 8px;padding: 20px 40px 40px;width: 100%;max-width: 520px;box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);margin: 0 20px;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);}.homeFormTop {display: flex;justify-content: space-between;}.homeFormTopTitle {font-family: Inter, sans-serif;font-size: clamp(21px, 6.6vw, 24px);margin: 0 0 20px;color: #000;font-weight: 600;text-align: center;margin-left: auto;margin-right: auto;}.closeButton {background: 0 0;border: none;cursor: pointer;padding: 4px;justify-content: center;align-items: center;display: flex;position: absolute;top: 20px;right: 20px;color: #000;}.homeFormErrorText {color: #e53e3e;margin-bottom: 12px;font-size: 14px;font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;padding-top: 5px;padding-bottom: 5px;}.HomeFormRowInput, .HomeFormRowLabel {font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;font-size: 18px;}.HomeFormRow {margin-bottom: 20px;}.HomeFormRowLabel {display: block;margin-bottom: 6px;color: #000;}.HomeFormRowInput {width: 100%;padding: 10px 16px;border: 1px solid #c9c9c9;min-height: 48px;background-color: #f3f7f8;border-radius: 6px;font-weight: 400;outline: 0;height: 50px;transition: border-color 0.2s;}.HomeFormRowInput:focus {border-color: #e71f1f;}.HomeFormRowInput::placeholder {color: #aaa;}.HomeFormBtn {font-family: sans-serif;height: 60px;width: 100%;cursor: pointer;border-radius: 10px;background-color: #e71f1f;transition: 0.3s;font-weight: 700;font-size: 28px;color: white;text-transform: uppercase;border: none;position: relative;display: flex;align-items: center;justify-content: center;}.phone-input-container {display: flex;align-items: center;position: relative;border: 1px solid #c9c9c9;background-color: transparent;border-radius: 6px;}.phone-input-container:focus {border-color: #e71f1f;}.selected-code {display: flex;margin-left: 10px;}.country-selector {position: relative;margin-right: 10px;}.selected-country {display: flex;align-items: center;padding: 10px;padding-right: 0;border-radius: 6px;cursor: pointer;min-height: 50px;font-family: sans-serif !important;font-size: 18px;font-weight: 400 !important;min-width: max-content;border: none;background-color: transparent;}.country-dropdown {position: absolute;top: 110%;left: 0;width: 100%;background-color: #fff;border: 1px solid #c9c9c9;border-radius: 6px;box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);z-index: 40;max-height: 200px;overflow-y: auto;font-family: sans-serif !important;font-weight: 400 !important;}.country-option {display: flex;justify-content: space-between;align-items: center;padding: 10px;cursor: pointer;font-family: sans-serif;font-weight: 400 !important;}.country-option:hover {background-color: #f3f7f8;}.country-option.selected {background-color: #e6f0fa;}@media screen and (max-width: 768px) {.homeFormContainer {max-width: 100%;padding: 80px 20px 20px;margin: 0;border-radius: 6px;height: 100vh;}.homeFormTopTitle {text-align: center;max-width: 408px;margin-left: auto;margin-right: auto;font-weight: 700;margin-bottom: 15px;}.homeFormTop {flex-direction: column;align-items: flex-start;}.closeButton {width: 100%;height: 50px;background-color: #000;color: #fff;padding-right: 20px;top: 0;left: 0;justify-content: end;}.homeFormErrorText {font-size: 12px;margin-bottom: 8px;}.HomeFormRowLabel {margin-bottom: 6px;}.HomeFormRowInput {padding: 0 12px;min-height: 40px;background-color: transparent;}.HomeFormRowInput::placeholder {color: #a3a3a3;}.HomeFormBtn {font-size: 18px;font-weight: 700;margin-top: 24px;}}@media screen and (max-width: 480px) {.homeFormContainer {max-width: 100%;padding: 80px 20px 20px;margin: 0;border-radius: 6px;height: 100vh;}.homeFormTopTitle {text-align: center;margin: 0 auto 15px;}.homeFormErrorText {font-size: 12px;margin-bottom: 8px;}.HomeFormRowLabel {margin-bottom: 6px;}.HomeFormRowInput {padding: 0 12px;min-height: 40px;background-color: transparent;border-radius: 10px;}.HomeFormRowInput::placeholder {color: #a3a3a3;}.HomeFormBtn {font-size: 16px;padding: 10px 0;margin-top: 24px;height: 50px;}}

/* body {
	background-color: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 390px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 17px;
	padding-right: 17px;
}

.hero {
	background-color: #000000;
	max-width: 390px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 32px;
}

.hero__container {
	padding-top: 13px;
	padding-bottom: 32px;
	background:
		linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%),
		linear-gradient(0deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 40%),
		url(../images/hero/flag.avif);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hero__italic {
	font-family: Italianno;
	font-weight: 400;
	font-size: 34px;
	line-height: 100%;
	text-align: center;
	color: #ffffff;
	margin-bottom: 16px;
}
.hero__title {
	font-family: Bebas Neue;
	font-weight: 400;
	font-size: clamp(30px, 4vw, 38px);
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(90deg, #ffd287 0%, #ffe7ab 50%, #ffd287 100%);
	background-clip: text;
	color: transparent;
	margin-bottom: 5px;
}
.hero__text {
	font-family: Inter;
	font-weight: 400;
	font-size: 18px;
	line-height: 145%;
	text-align: center;
	color: white;
}
.hero__inner {
	position: relative;
}
.hero__left {
	position: absolute;
	right: -10px;
	top: 30px;
	border-left: 1px solid #ffffff;
	padding-left: 5px;
}
.hero__left__text {
	font-family: Inter;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0%;
	color: #ffe9a6;
}

.hero__left__text span {
	color: #ffffff;
}

.hero__logo {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}
.hero__right {
	position: absolute;
	bottom: 180px;
	left: -2px;
	border-left: 1px solid #ffffff;
	padding-left: 5px;
}
.hero__right__text {
	font-family: Inter;
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	color: #ffe9a6;
}

.hero__right__text span {
	color: #ffffff;
}

.hero__btn {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-size: 34px;
	line-height: 120%;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	max-width: 332px;
	width: 100%;
	padding: 24px 0 20px 0;
	cursor: pointer;
	border: none;
	border-radius: 12px;
	background: linear-gradient(180deg, #ffd982 0%, #f7c05d 50%, #ffd982 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	box-shadow:
		0px 4px 0px #c68e2e,
		0px 4px 24px 0px #ffe9a68c;
	transition: all 0.2s ease;
}

.bottom {
	padding-left: 17px;
	padding-right: 17px;
}

.bottom__container {
	max-width: 317px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #2b2b2b;
	border: 1px solid;
	border: 1px solid transparent;
	border-radius: 20px;
	background-image:
		linear-gradient(#2b2b2b, #2b2b2b),
		linear-gradient(to bottom, #ffdf70, #ffe9a6, #feda7b);
	background-origin: border-box;
	background-clip: padding-box, border-box;
	padding: 10px 12px 1px 18px;
	margin-bottom: 32px;
}

.bottom__title {
	font-family: Inter;
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	margin-bottom: 4px;
}
.bottom__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bottom__text {
	font-family: Inter;
	font-weight: 400;
	font-size: clamp(14px, 4vw, 16px);
	color: #ffffff;
}

.place {
	padding-left: 17px;
	padding-right: 17px;
}

.place__container {
	margin-top: 32px;
	position: relative;
	border: 1px dashed white;
	max-width: 317px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.clock {
	position: absolute;
	object-fit: cover;
	left: -13px;
	top: 2px;
}
.place__row__title {
	padding-top: 16px;
	font-family: Inter;
	font-weight: 700;
	font-size: 18px;
	line-height: 120%;
	text-align: center;
	color: #ffffff;
	margin-bottom: 8px;
}
.place__row__col__text span {
	font-family: Inter;
	font-weight: 700;
	font-size: 22px;
	line-height: 120%;
	text-align: center;
	background: linear-gradient(
		229.81deg,
		#ffdf70 0.91%,
		#ffe9a6 47.68%,
		rgba(255, 223, 112, 0.831373) 94.44%
	);
	width: 40px;
	height: 39px;
	padding: 0;
	border-radius: 10px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.place__row__col__text {
	font-family: Inter;
	font-weight: 700;
	font-size: 22px;
	line-height: 120%;
	background: linear-gradient(
		229.81deg,
		#ffdf70 0.91%,
		#ffe9a6 47.68%,
		rgba(255, 223, 112, 0.831373) 94.44%
	);
	background-clip: text;
	color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
	margin-bottom: 10px;
}
.place__register {
	font-family: Inter;
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	text-align: center;
	color: #ffffff;
	margin-bottom: 16px;
}
.place__button {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 120%;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	max-width: 242px;
	width: 100%;
	padding: 17px 0 14px 0;
	cursor: pointer;
	border: none;
	border-radius: 12px;
	background: linear-gradient(180deg, #ffd982 0%, #f7c05d 50%, #ffd982 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	box-shadow:
		0px 4px 0px #c68e2e,
		0px 4px 24px 0px #ffe9a68c;
	transition: all 0.2s ease;
	margin-bottom: 16px;
}
.fighter {
	object-fit: cover;
	position: absolute;
	right: clamp(-12px, 3vw, -12px);
	top: 75px;
}

.title {
	padding-top: 27px;
	font-family: Bebas Neue;
	font-weight: 400;
	font-size: 40px;
	line-height: 120%;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.card {
	text-align: center;
	margin-bottom: 61px;
	padding-left: 17px;
	padding-right: 17px;
} */
